/out/
core
tags
*.o
test
test_g
test_fast
bench
url_parser
parsertrace
parsertrace_g
*.mk
*.Makefile
*.so.*
*.exe.*
*.exe
*.a


# Visual Studio uglies
*.suo
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.opensdf
*.ncrunchsolution*
*.sdf
*.vsp
*.psess

# Output executables
/asan
/fast
/out_asan
/run_test
/simple_test
/simple_test_asan
/simple_test_opt
/simple_test_opt_asan
/test_asan_fast
/test_asan_no_opt
